services:
  postgres:
    image: postgres:18.1-alpine
    container_name: fripouilles-postgres
    restart: always
    environment:
      POSTGRES_USER: fripouilles
      POSTGRES_PASSWORD: fripouilles
      POSTGRES_DB: fripouilles
    ports:
      - '5433:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U fripouilles -d fripouilles"]
      interval: 10s
      timeout: 5s
      retries: 5
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: root@root.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - '8081:80'
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pgdata:
  pgadmin_data:
